<div class="loan">
    <h6 style="color: black; font-weight: bold; ">Apply For Personal Loan</h6>
    <label style="color: black; font-weight: bold; " for="firstName">FirstName:</label>
    <input type="text" id="firstbName" placeholder="First Name">
    <label style="color: black; font-weight: bold; " for="lastName">Last Name:</label>
    <input type="text" id="lastName" placeholder="Last Name">
    <br>
    <br>
    <!-- Gender -->
    <label style="color: black; font-weight: bold; " for="firstName">Gender : </label>
    <label style="color: black; font-weight: bold; " for="male">Male:</label>
    <input type="radio" id="male" name="gender">
    <label style="color: black; font-weight: bold; " for="female">Female:</label>
    <input type="radio" id="female" name="gender">
    <label style="color: black; font-weight: bold; " for="other">Other:</label>
    <input type="radio" id="other" name="gender">
    <br>
    <br>
    <label style="color: black; font-weight: bold; " for="email">E-mail:</label>
    <input type="email" id="email" placeholder="Enter your Email">
    <label style="color: black; font-weight: bold; " for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd">
      
    <br>
    <br>
    <!-- Phone -->
    <label style="color: black; font-weight: bold; " for="phone">Phone:</label>
    <input type="number" id="phone" placeholder="+91">
    <br>
    <br>
    <label style="color: black; font-weight: bold; " for="phone">Salary Per anum: </label>
    <input type="number" id="phone" placeholder="">
    <label style="color: black; font-weight: bold; " for="phone">Loan Amount:</label>
    <input type="number" id="amount" placeholder="">
    <br><br>
    <button class="btn" type="submit" (click)="sendData()">Submit</button>

</div>